<!doctype html>
<html>
<head>
  <title>{{appName}}: {{title}}</title>
  {{> head }}
</head>
<body class="about page">
  {{> header }}
  <div class="breadcrumb">
    <span class="page-title"><a href="{{appUrl}}">Home</a> &gt; About</span>
  </div>
  <div class="data-container main">
    <h2 class="page-title">About this Project</h2>
    <p>NYU Press is pleased to offer these books in an open access platform for reading on desktop and mobile devices. We will continue to contribute new titles each year. </p>
    <p>If you are interested in purchasing the print edition of any of these books, we encourage you to order it at your local independent bookstore, or click on the “buy this book” link in each title’s detail page.</p>
    <p>For a brief description of Open Access, see <a href="http://legacy.earlham.edu/~peters/fos/brief.htm" target="_blank">http://legacy.earlham.edu/~peters/fos/brief.htm</a></p>
    <p>The site was developed by our colleagues in the NYU Libraries Digital Library Technology Services department:  David Arjanik, Alberto Ortiz Flores, Laura Henze, Carol Kassel, Joseph Pawletko, and Rasan Rasch.</p>
    <p>From NYU Press: Monica McCormick and Miguel Sandoval. </p>
    <p>Project Sponsors: Stephen Maikowski (NYU Press) and David Millman (NYU Libraries DLTS)</p>
    <p>This site uses <a href="http://readium.github.io/" target="_blank">Readium</a>, an open source library for handling EPUB documents, which is optimized for use on the following browsers: Chrome, Firefox, and Safari.</p>
  </div>
  {{> footer }}
  {{{closure}}}
</body>
</html>