<footer id="pagefooter">
  <div class="footer-inner">
    <ul>
      <li><span><a href="{{appUrl}}/about">About</a></span></li>
      <li><span><a href="{{appUrl}}/rights">Rights Information</a></span></li>
      <li id="nyup-link"><span><a href="http://nyupress.org/" target="_blank">NYU Press</a></span></li>
      <li id="dlts-link"><span>Powered by <a href="http://dlib.nyu.edu/dlts/" target="_blank">NYU DLTS</a></span></li>
    </ul>
  </div>
</footer>
