<!doctype html>
<html>
<head>
  <title>{{appName}}: {{title}}</title>
  {{> head }}
  {{> googleanalytics }}
</head>
<body class="home list-view" data-app="{{appUrl}}" data-discovery="{{discovery}}" data-script='{ "js" : [ "front.js" ] , "hbs" : [ { "id" : "list-template" , "template" : "front-list-template.hbs" } ] }'>
  {{> header }}
  <div class="content-wrapper">
    <div class="data-container" role="main">
      <div class="intro">
        <p>NYU Press is pleased to offer these books in an open access platform for reading on desktop and mobile devices. We will continue to contribute new titles each year. <a href="{{appUrl}}/about">Read more...</a></p>
        <p>This site is in beta release. As of June 2014, it is best viewed using the Chrome or Safari browsers. We are at work optimizing it for other browsers and developing more features. </p>
      </div>
      <h2 class="page-title">Browse all titles</h2>
      <div id="a" class="library-items" data-page="1" data-pages="1"></div>
    </div>
    <ul class="pure-paginator"></ul>
    <div class="pure-g container more-books">
      <div class="pure-u-1">
        <a href="#" class="pure-button loading">More books</a>
      </div>
    </div>
    {{> footer }}
  </div>
  {{{ closure }}}
</body>
</html>
