<div class="header">
  <nav class="navbar" role="navigation" id="navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <header role="banner">
          <h2 id="logo-replace"><a href="{{appUrl}}" class="brand">NYU Press</a></h2>
          <h1 id="site-title"><a href="{{appUrl}}">Open Access Books</a></h1>
          <div class="n-utils">
            <button id="search-toggle" style="display:none">X</button>
            <form role="search" class="pure-form searchform" value="" method="get" action="{{appUrl}}/search" name="searchform" >
              <input class="searchbox pure-input" name="searchbox" id="searchbox" type="text" placeholder="Search for books..." value="" size="30" maxlength="300">
            </form>
          </div>
        </header>
      </div>
    </div>
  </nav>
</div>