<!doctype html>
<html>
<head>
  <title>{{appName}}: {{title}}</title>  
  {{> head }}
</head>
<body class="rights page">
  {{> header }}
  <div class="breadcrumb">
    <span class="page-title"><a href="{{appUrl}}">Home</a> &gt; Rights</span>
  </div>
  <div class="data-container main">
    <h2 class="page-title">Rights</h2>
    <p dir="ltr">Each of these works is licensed under a<a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank"> Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.</p>
  </div>
  {{> footer }}
  {{{closure}}}
</body>
</html>
