/*
 * Custom Skin for NYU Press Open Access Books site
 */
body {
    padding: 0;
    min-width: 300px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.data-container {
    margin: 0px auto 0px;
    width: auto;
    position: static;
    max-width: 800px;
    padding: 0 10px;
}

a:link, a:visited {
    color: #6FA64D;
}

body.io-loading {
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../images/loading.gif);
}

/*a[target="_blank"] {
    background-position: center right;
    background-repeat: no-repeat;
    background-image: url(../images/ext_link_icon.svg);
    padding-right: 13px;
}*/

a.btn {
    color: #333;
}

#aboutlink {
    padding-right: 25px;
    height: 28px;
    display: block;
    background: url(../images/oa_logo_sprite.png) no-repeat right top;
    vertical-align: bottom;
    padding-top: 14px;
}

#aboutlink:hover {
    background: url(../images/oa_logo_sprite.png) no-repeat right bottom;
}

/* overriding bootstrap */
.breadcrumb {
    background-color: #F5F5F5;
    border-radius: 0px;
    list-style: none outside none;
    margin-bottom: 20px;
    padding: 8px 15px 6px;
    border-bottom: 1px solid #dedede;
}

.data-container h2.page-title a:link, .data-container h2.page-title a:visited {
    color: #888888;
}

.page-title {
    margin-bottom: 1rem;
}

.sorter {
    text-align: right;
}

.sorter span {
    font-weight: bold;
}

.sorter a {
    color: #333;
    text-decoration: underline;
    font-weight: normal;
}

.data-container {
    width: auto;
    position: static;
    padding: 0 10px;
    margin: 30px auto 70px;
    max-width: 650px;
}

.data-container h2.page-title {
    padding: 0px 0;
    text-transform: uppercase;
    color: #333;
    margin: 0 0 10px;
    font-size: 19px;
    line-height: 1.4;
       /* Gotham  Screen Smart Light = font-family: 'Gotham SSm 3r', 'Gotham SSm A', 'Gotham SSm B';  */
    font-family: 'Gotham SSm 3r', 'Gotham SSm A', 'Gotham SSm B';
    font-weight: normal;
    font-weight: 300;
    clear: both;
    float: none;
}

.home .data-container h2.page-title {
    font-size: 17px;
    margin: 35px 0 10px;
}
.home .data-container .intro {
       /* Gotham  Screen Smart Light = font-family: 'Gotham SSm 3r', 'Gotham SSm A', 'Gotham SSm B';  */
    font-family: 'Gotham SSm 3r', 'Gotham SSm A', 'Gotham SSm B';
    font-weight: 300; 
    font-style: normal;
}
.home .data-container p:first-child {
    font-size: 1.1em;
    margin: 35px 0 10px;
}

.data-container h2.page-title a:link, .data-container h2.page-title a:visited {
    color: #888888;
}

.content-wrapper {}

footer#pagefooter {
 
    width: 100%;
}

.list-view footer#pagefooter {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2000;
    width: 100%;
}

footer#pagefooter ul {
    margin: 0;
    padding: 0;
}

footer#pagefooter li {
    display: inline-block;
    padding: 0 5px 0 0;
    color:white;
}

footer#pagefooter li + li:before {
    content: "|";
    color: #999;
}

footer#pagefooter li>span {
    padding: 0 0 0 10px;
    display: inline-block;
  
}

footer#pagefooter li.social>span>span{
    padding: auto;
    width: 16px;
}
footer#pagefooter li, footer#pagefooter li a:link, footer#pagefooter li a:visited {
    color: #efefef;
    font-size: 13px;
     /* Gotham  Light = 'Gotham 3r', 'Gotham A', 'Gotham B' */
    font-family: 'Gotham 3r', 'Gotham A', 'Gotham B', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-weight: 300;
}

footer#pagefooter li a:hover {
    color: white;
}

.footer-inner {
    padding: 5px 0 7px 0;
    color: white;
    text-align: center;
    margin-top: 10px;
    background-color: #2c2c2c;
    background-image: -moz-linear-gradient(top, #333333, #222222);
    background-image: -ms-linear-gradient(top, #333333, #222222);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
    background-image: -webkit-linear-gradient(top, #333333, #222222);
    background-image: -o-linear-gradient(top, #333333, #222222);
    background-image: linear, top, #333333, #222222;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='ie-hex-str(#333333)', endColorstr='ie-hex-str(#222222)', GradientType=0);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

a.info-icon {
    display: none;
}

.book-item .cover-image {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.library-items {
    margin-top: 10px;
}

.library-items .book-title, .library-items .author {
    white-space: normal;
}

.library-item {
    height: auto;
    display: table-row;
    vertical-align: top;
    float: none;
    clear: both;
    padding: 0;
}

.library-item:nth-child(odd) {
    background: #f6f6f6;
}

.img_hold {
    display: table-cell;
    vertical-align: top;
    width: 110px;
    padding: 10px 10px 10px 0;
}

.library-item img {
    margin: 0px;
    position: static;
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}

.detail-item {
    margin-top: 3rem;
    height: auto;
}

.detail-item .book-title {
    font-size: 20px;
    line-height: 1.2;
    padding-bottom: 8px;
}

.detail-item .img-hold {
    float: left;
    margin-right: 15px;
    width: 27%;
    max-width: 160px;
    height: auto;
}

.detail-item .img-hold img {
    width: 100%;
    height: auto;
}

.detail-item .infolabel {
    color: #999;
}

.detail-item .buttons {
    text-align: right;
    margin-right: 10px;
    margin-top: 30px;
}

.buttons  .btn-default {
    -webkit-transition: all 200ms; 
    transition: all 200ms;
}
 .buttons  .btn-default:hover {
    background-color: #999;
    color: #fff;
    text-shadow: 0px 0 3px black;
    border-color: #999;
    box-shadow: inset 0px 0px 20px rgba(255,255,255,.3);
}
.detail-item  .book-info .social {
    float:left;
    margin:28px 33px 0 0;
     min-height: 60px;
}
.detail-item .sharelabel {
    text-transform: uppercase;
    padding-bottom: 3px;
    color: #555;
    font-family: 'Gotham SSm 3r', 'Gotham SSm A', 'Gotham SSm B', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.detail-item .rights-info {
    padding-top: 2em;
    font-size: 1.3rem;
    max-width: 70rem;
    clear: left;
}

.detail-item .rights-info img {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;
}

.detail-item .item-link {
    float: right;
    margin: 20px;
}
.detail-item #description {
    margin-top: 10px;
}
.detail-item #description {
    margin-top: 10px;
}
.detail-item  p#book-description {
    margin:0;
    padding: 0;
}
.no-cover-nyup {
    background-color: #61777D;
}

/*#app-container {
    padding: 0px 10px;
    -webkit-overflow-scrolling: touch;
}*/
.library-item .buttons {
    float: right;
    position: static;
    width: auto;
    padding-top: 20px;
}

.library-item .book-info .book-title {
    font-weight: 300;
    font-size: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.library-item a.details {
    margin-right: 30px;
    margin-top: 0;
}

.library-item .buttons a.btn {
    display: inline-block;
}

.library-item .book-info {
    margin: 0px;
    /*  max-height: 290px;*/
    height: auto;
    position: static;
    vertical-align: top;
    padding: 10px;
    display: table-cell;
    float: none;
}

.library-item .author {
    margin-top: 0px;
    padding-bottom: 5px;
    line-height: 1.8;
    font-size: 16px;
    color: #555;
    /* #6FA64D*/
}

.library-item .description {
    font: normal 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.item-link {
    display: block;
}

.item-link:hover, .item-link:hover .description {
    text-decoration: none;
    color: #333;
}

.item-link:hover .book-title {
    text-decoration: underline;
}

/* Sticky footer styles  http://getbootstrap.com/examples/sticky-footer/sticky-footer.css
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body.page {
    /* Margin bottom by footer height */
    margin-bottom: 42px;
}

body.page footer#pagefooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 42px;
}

/*  Navigation */

/*  ------------------------------------------------------------------------- */

.navbar {
    min-height: 55px;
    position: relative;
    border: none;
    border-radius: 0px;
    margin-bottom: 20px;
    margin-bottom: 0px;
    background-color: #2c2c2c;
    background-image: -moz-linear-gradient(top, #333333, #222222);
    background-image: -ms-linear-gradient(top, #333333, #222222);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
    background-image: -webkit-linear-gradient(top, #333333, #222222);
    background-image: -o-linear-gradient(top, #333333, #222222);
    background-image: linear, top, #333333, #222222;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='ie-hex-str(#333333)', endColorstr='ie-hex-str(#222222)', GradientType=0);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.navbar-inner {
    height: auto;
}

.home .navbar  li {
    margin: 0;
}

/*  Navigation */

/*  ------------------------------------------------------------------------- */

.navbar {
    min-height: 55px;
    position: relative;
    border: none;
    border-radius: 0px;
    margin-bottom: 20px;
    margin-bottom: 0px;
    background-color: #2c2c2c;
    background-image: -moz-linear-gradient(top, #333333, #222222);
    background-image: -ms-linear-gradient(top, #333333, #222222);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
    background-image: -webkit-linear-gradient(top, #333333, #222222);
    background-image: -o-linear-gradient(top, #333333, #222222);
    background-image: linear, top, #333333, #222222;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='ie-hex-str(#333333)', endColorstr='ie-hex-str(#222222)', GradientType=0);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.navbar-inner {
    height: auto;
}

.home .navbar  li {
    margin: 0;
}

.navbar-inner {
    height: auto;
}

.home .navbar  li {
    margin: 0;
}

.navbar #logo-replace a {
    width: 105px;
    height: 50px;
    display: block;
    text-indent: 300%;
    background-image: url("../images/NYUPLogo.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    white-space: nowrap;
}

.navbar #logo-replace {
    height: 50px;
    width: 105px;
    overflow: hidden;
    margin: 0;
}

.navbar #site-title {
      /* Gotham Extra Light = 'Gotham 2r', 'Gotham A', 'Gotham B' */
    font: normal 200 22px / 1 'Gotham 2r', 'Gotham A', 'Gotham B', arial;
    letter-spacing: .5px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}

.navbar #site-title a {
    display: block;
    text-decoration: none;
    color: white;
}

.navbar #site-title a:hover {
    text-decoration: underline;
    color: white;
}

.home .navbar  .n-utils li {
    margin-right: 20px;
    float: right;
}

.navbar a:link, .navbar a:visited {
    color: white;
}

.navbar a:focus, .navbar a:hover {
    text-decoration: underline;
}

/*.navbar  #site-title a {
    margin-bottom: 0;
}
*/
.navbar .container {
    display: table;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0px;
    padding-right: 0px;
}

.navbar header {
    display: table-row;
}

.navbar header > * {
    padding: 5px 0 5px 10px;
    display: table-cell;
    vertical-align: middle;
}

.navbar .n-utils {
    display: table-cell;
    padding: 10px 10px 10px 0;
    /* overriding bootstrap */
    /*float: none !important;*/
    text-align: right;
}

.navbar .n-utils a {
    white-space: nowrap;
    /*text-transform: uppercase;*/
      /* Gotham Extra Light = 'Gotham 2r', 'Gotham A', 'Gotham B' */
    font: normal 200 13px/1 'Gotham 2r', 'Gotham A', 'Gotham B';
    color: #bbb;
}

.navbar .btn-default {
    border: none;
    background-color: transparent;
}

.navbar .icon {
    width: 40px;
    height: 40px;
    /* box-shadow: 1px 1px 5px rgb(0, 0, 0);*/
}

.icon:first-of-type {
    margin-right: 5px;
}

a#s-btn {
    width: 30px;
    height: auto;
    padding-top: 10px;
}

a#s-btn img {
    width: 100%;
    height: auto;
}

/*  End Navigation */

/*  Search */

/*  ------------------------------------------------------------------------- */

.searchform label {
    right: -999em;
    position: absolute;
}

.searchform {
    margin: 0;
      /* Gotham  Screen Smart Light = font-family: 'Gotham SSm 3r', 'Gotham SSm A', 'Gotham SSm B';  */
    font: normal 300 12px / 1 'Gotham SSm 3r', 'Gotham SSm A', 'Gotham SSm B';

}

input.searchbox {
    margin: 0 10px 0 0;
    font-size: 13px;
    color: white;
    padding: 10px 10px 5px 10px;
    background: #343434 url("../images/s4.png") no-repeat right center;
    background-size: 26px;
    border: 1px solid #666;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    outline: 0;
    width: 200px;
}

input.searchbox:focus {
    outline: 0;
    background-color: white;
    color: #333;
    /*   border-color: #57068c;*/
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.375) inset;
    outline: 0 none;
    border: 1px solid #aaa;
    /*border-top: none;*/
    /*  /*border-top: 1px solid #666;*/
    /*border-bottom: 1px solid #DDD;*/
    /*  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.49), 0 -1px 1px #333333, 0 1px 0 #222222;*/
    /* box-shadow: inset 0 0 10px 1px rgba(0,0,0,.30);*/
}

.more-books a {
    display: none;
}

@media screen and (min-width: 800px) {
    .home .navbar  #site-title {
          /* Gotham Extra Light = 'Gotham 2r', 'Gotham A', 'Gotham B' */
        font: normal 200 27px / 1 'Gotham 2r', 'Gotham A', 'Gotham B', Helvetica;
        padding-bottom: 8px;
    }
    .home .navbar #logo-replace, .home .navbar #logo-replace a {
        height: 75px;
        width: 160px;
    }
    .home .navbar  header > * {
        display: table-cell;
        vertical-align: bottom;
    }
}


.navbar header > * {
    padding: 10px 0 10px 10px;
}
@media screen and (max-width: 500px) {
   
    footer#pagefooter li#dlts-link:before {
        content: "";
    }
}
@media screen and (max-width: 600px) {

    .library-items {
        margin: 1rem 0px 0px;
    }
    h2.page-title {
        margin: 0px;
    }
    footer#pagefooter li a:link, footer#pagefooter li a:visited {
        margin-bottom: 1rem;
        margin: 0px;
       /* padding: 11px 10px 7px;*/
    }
    footer#pagefooter li#dlts-link a:link,  footer#pagefooter li#dlts-link a:visited {
        padding-left: 0;
    }

    footer#pagefooter li#dlts-link>span {
       /* padding-left: 20px;*/
    }
    .footer-inner {
        padding: 2px 0 5px;
    }
    body.page {
        /* Margin bottom by footer height */
        margin-bottom: 57px;
    }
    body.page footer#pagefooter {
        position: absolute;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 57px;
    }
    .navbar .reader .icon-full-screen {
        display: none;
    }
  
    .navbar .reader #logo-replace, .home .navbar #logo-replace, .navbar #logo-replace {
        height: 40px;
        width: 40px;
    }
    .navbar #logo-replace a {
        height: 40px;
        width: 40px;
        background-position: right top;
    }
    .navbar header .n-utils {
        vertical-align: bottom;
    }
    .navbar .reader #site-title {
           /* Gotham Extra Light = 'Gotham 2r', 'Gotham A', 'Gotham B' */
        font: normal 200 16px / 1.1 'Gotham 2r', 'Gotham A', 'Gotham B';
        /* max-width: 15rem;*/
    }
    .home .navbar #site-title, .page .navbar #site-title, .navbar #site-title {
          /* Gotham Extra Light = 'Gotham 2r', 'Gotham A', 'Gotham B' */
        font: normal 200 18px / 1.1 'Gotham 2r', 'Gotham A', 'Gotham B';
        
        /* max-width: 15rem;*/
    }
    .navbar {
        padding: 10px 10px;
    }
    .navbar .container, .navbar header, .navbar header > *, .navbar .n-utils,
    .home .navbar header > * {
        display: block;
        padding: 0;
    }
    .navbar header {
        /* clear floats */
        width: 100%;
        overflow: hidden;
    }
    .navbar header h2, .navbar header h1 {
        float: left;
    }
    .navbar header h1, .home .navbar header h1 {
        padding: 10px 0px 0px 10px;
    }
    .navbar header .n-utils {
        float: none;
    }
    #search-toggle, #search-toggle[style] {
        border: none;
        color: #888;
        font: normal  12px / 1 arial;
        padding: 10px;
        display: block !important;
        float: right;
        opacity: .8;
        width: 40px;
        height: 40px;
        background: transparent url("../images/s3.png") no-repeat center center;
        background-size: 50%;
        text-indent: -999em;
    }
    #search-toggle.open {
        text-indent: 0;
        background: none;
    }
    #search-toggle:focus {
        outline: none;
    }
    #search-toggle::-moz-focus-inner {
        border: 0;
    }
    .searchform {
        display: none;
    }
    .searchform.open {
        display: block;
    }
    .searchform input.searchbox {
        width: 100%;
        margin-top: 10px;
        margin-right: 0;
        /* 16px and up prevents autozoom in safari iOS */
        font-size: 16px;
    }
    .buttons {
        margin: 2em 0 0 ;
    }
    .buttons a{
        margin: .5em 0;
    }
}



@media screen and (max-width: 350px) {
    .home .navbar #site-title, .page .navbar #site-title, .navbar .reader #site-title, .navbar #site-title {
           /* Gotham Extra Light = 'Gotham 2r', 'Gotham A', 'Gotham B' */
        font: normal 200 14px/1.1 'Gotham 2r', 'Gotham A', 'Gotham B';
    }
}

.book iframe {
  width:100%;
  border: none;
}
