{{=<% %>=}}
<!doctype html>
<html>
<head>
  <title>NYU Press: <% title %></title>
  <%> head %>
</head>
<body class="about page">
<div>
  <div class="header"><%> header %></div>
  <div class="pure-g breadcrumb">
    <div class="pure-u-1">
      <span class="page-title"><a href="<% appUrl %>">Home</a> &gt; About</span>
    </div>
  </div>
  <div class="pure-g container main">
    <div class="pure-u-1">
      <h2>About</h2>
    </div>
  </div>
  <div class="pure-g container bottom">
    <div class="pure-u-1">
      <h3>Contact NYU Press</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
      <h3>More Information</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
    </div>
  </div>
  <div class="pure-g container footer"><%> footer %></div>
</div>
</body>
</html>