{{=<% %>=}}
<?php 
$service = "http://discovery.dlib.nyu.edu:8080/solr3_discovery/nyupress/select?&wt=json&fl=*&fq=id:";
$url = "http://$_SERVER[HTTP_HOST]$_SERVER[REQUEST_URI]";
$id = preg_replace( '%^(.+)/%', '', $url );
$json = file_get_contents( $service . $id );
$data = json_decode( $json, true );
$bookData = $data["response"]["docs"][0];
?>
<!doctype html>
<html>
<head>
  <title>NYU Press: <?php echo $bookData["title"] ?></title>
	 <%> head %>
</head>
<body class="page book" data-app="<% appUrl %>" data-readium="<% readiumUrl %>">
  <div class="header"><%> header %></div>
  <iframe style="width:100%" allowfullscreen mozallowfullscreen webkitallowfullscreen seamless="seamless" frameBorder="0"></iframe>
  <%> footer %>
 <script src="<% appUrl %>/js/book.js"></script>
</body>
</html>