{{=<% %>=}}
<?php 
$service = "http://discovery.dlib.nyu.edu:8080/solr3_discovery/nyupress/select?&wt=json&fl=*&fq=id:";
$url = "http://$_SERVER[HTTP_HOST]$_SERVER[REQUEST_URI]";
$id = preg_replace( '%^(.+)/%', '', $url );
$json = file_get_contents( $service . $id );
$data = json_decode( $json, true );
$bookData = $data["response"]["docs"][0];
?>
<!doctype html>
<html>
<head>
  <title>NYU Press: <% title %></title>
	 <%> head %>
</head>
<body class="page book" data-app="<% appUrl %>" data-readium="<% readiumUrl %>">
  <div class="header"><%> header %></div>
  <iframe style="width:100%" allowfullscreen mozallowfullscreen webkitallowfullscreen seamless="seamless" frameBorder="0"></iframe>
  <%> footer %>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "9f7e1ebf-93de-45e6-b1d3-6f81661f02ba", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
 <script src="<% appUrl %>/js/book.js"></script>
</body>
</html>