{{=<% %>=}}
<!doctype html>
<html>
<head>
  <title>NYU Press: <% title %></title>
  <%> head %>
  <script id="list-template" type="text/x-handlebars-template">
    {{#items}}
      <div class="detail-item">
        <div class="img-hold">
         <img class="img-responsive" src="<% readiumUrl %>/{{thumbHref}}" alt="{{title}}" title="{{title}}"/>
        </div>
        <div class="book-info">
         <h4 class="book-title">{{title}}</h4>
            <div><span class="infolabel">Author:</span> {{author}}</div>
            <div><span class="infolabel">Publisher:</span> {{publisher}}</div>          
            <div><span class="infolabel">Publication Date:</span> {{date}}</div>
            <div><span class="infolabel">Subject:</span> {{subject}}</div>      
            <div><span class="infolabel">ISBN:</span> {{identifier}}</div>      
            <div><span class="infolabel">Permanent Link:</span> {{handle}}</div>            
            <div><span class="infolabel">Number of pages:</span> {{format}}</div>
            <div id="description"><p>{{description}}</p></div>
            <div class="buttons">
              <a class="btn btn-default" href="http://nyupress.org/search.aspx?keyword={{identifier}}" target="_blank">Buy the book</a>
              <a class="btn btn-default" href="<% appUrl %>/book/{{identifier}}">Read</a>
            </div>
            <div class="rights-info"><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a></div>
        </div>
      </div>
    {{/items}}
  </script> 
 
</head>
<body class="details-page page" data-app="<% appUrl %>" data-discovery="<% discovery %>">
<div>

  <%> header %>

  <div class="breadcrumb">
      <span class="page-title"><a href="<% appUrl %>">Home</a> &gt; Book details</span>
  </div>
  
  <div class="content-wrapper">
      <div class="data-container"></div>
  </div>
</div>
 <%> footer %>
<%={{ }}=%><script>{{{js}}}</script>
</body>
</html>