{{=<% %>=}}
<!doctype html>
<html>
<head>
  <title>NYU Press: <% title %></title>
  <%> head %>
  <script id="list-template" type="text/x-handlebars-template">
  {{#items}}
      <div class="library-item">{{thumbHref}}
          <div class="img_hold">
          <img class="img-responsive" src="<% readiumUrl %>/{{thumbHref}}" alt="" title="{{title}}"/>
          </div>
        <div class="book-info">
          <h4><a class="item-link" href="<% appUrl %>/details/{{identifier}}">{{title}}</a></h4>
          <div class="author">by {{author}}</div>
          <div class="description">{{description}}</div>
          <div class="buttons">
            <a class="btn btn-default" href="<% appUrl %>/book/{{identifier}}">Read</a>
            <a class="btn btn-default" href="<% appUrl %>/details/{{identifier}}">View Details</a>
          </div>
       </div>
      </div>
    {{/items}}
  </script>  
</head>
<body class="home list-view" data-app="<% appUrl %>" data-discovery="<% discovery %>">
  <%> header %>
  <div class="content-wrapper">
      <div class="data-container" role="main">
        <h2>Browse all titles</h2>
        <div id="a" class="library-items" data-page="1" data-pages="1"></div>
      </div>
      <ul class="pure-paginator"></ul>
      <div class="pure-g container more-books">
        <div class="pure-u-1"> <a href="#" class="pure-button loading">More books</a> </div>
      </div>
      <%> footer %>
  </div>
  <%={{ }}=%><script>{{{js}}}</script>
</body>
</html>