{{=<% %>=}}
<!doctype html>
<html>
<head>
  <title>NYU Press: <% title %></title>
<%> head %>
  <script id="list-template" type="text/x-handlebars-template">
  {{#items}}
      <div itemscope itemtype="http://schema.org/Book" class="library-item">
          <div class="img_hold">
          <a class="item-link" href="<% appUrl %>/details/{{identifier}}"><img itemprop="image" class="img-responsive" src="<% readiumUrl %>/{{thumbHref}}" alt="" title="{{title}}"/></a>
          </div>
        <div class="book-info">
          <h4 itemprop="name" class="book-title"><a class="item-link" href="<% appUrl %>/details/{{identifier}}">{{title}}</a></h4>
          <div class="author">by <span itemprop="author">{{author}}</span></div>
          <span itemprop="description" class="description unprocessed">{{description}} </span>
          <a href="<% appUrl %>/details/{{identifier}}">...</a>
          <div class="buttons">
            <a class="btn btn-default" href="<% appUrl %>/book/{{identifier}}">Read</a>
            <a class="btn btn-default" href="<% appUrl %>/details/{{identifier}}">View Details</a>
          </div>
       </div>
      </div>
    {{/items}}
  </script>  

  <%> googleanalytics %>
</head>
<body class="home list-view" data-app="<% appUrl %>" data-discovery="<% discovery %>">
  <%> header %>
  <div class="content-wrapper">
      <div class="data-container" role="main">
        <div class="intro">
        <p>NYU Press is pleased to offer these books in an open access platform for reading on desktop and mobile devices. We will continue to contribute new titles each year. <a href="<% appUrl %>/about">Read more...</a></p>
        <p>This site is in beta release. As of June 2014, it is best viewed using the Chrome or Safari browsers. We are at work optimizing it for other browsers and developing more features. </p></div>
        <h2 class="page-title">Browse all titles</h2>
        <div id="a" class="library-items" data-page="1" data-pages="1"></div>
      </div>
      <ul class="pure-paginator"></ul>
      

  <div class="pure-g container more-books">
    <div class="pure-u-1">
      <a href="#" class="pure-button loading">More books</a>
    </div>
  </div>

      <%> footer %>
  </div>
  <%={{ }}=%><script>{{{js}}}</script>
</body>
</html>