{{=<% %>=}}
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="<% appUrl %>/css/bootstrap.css"> 
<link rel="stylesheet" href="<% appUrl %>/css/dlts.css">
<script src="http://yui.yahooapis.com/3.15.0/build/yui/yui-min.js"></script>
<script src="<% appUrl %>/js/searchbox.js"></script>