  {{=<% %>=}}
<div class="header">
  <nav class="navbar" role="navigation" id="navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <header role="banner">
          <h2 id="logo-replace"><a href="<% appUrl %>" class="brand">NYU Press</a></h2>
          <h1 id="site-title"><a href="<% appUrl %>">Open Access Books</a></h1>
          <div class="social">
            <span class='st_facebook_large' st_url="<% appUrl %>/details/{{identifier}}" st_image="<% readiumUrl %>/{{thumbHref}}" st_summary="{{description}}" st_title="{{title}}" displayText='Facebook'></span>
            <span class='st_twitter_large' st_url="<% appUrl %>/details/{{identifier}}" st_image="<% readiumUrl %>/{{thumbHref}}" st_summary="{{description}}" st_title="{{title}}" st_via="" displayText='Tweet'></span>
            <span class='st_linkedin_large' st_url="<% appUrl %>/details/{{identifier}}" st_image="<% readiumUrl %>/{{thumbHref}}" st_summary="{{description}}" st_title="{{title}}" displayText='LinkedIn'></span>
            <span class='st_googleplus_large' st_url="<% appUrl %>/details/{{identifier}}" st_image="<% readiumUrl %>/{{thumbHref}}" st_summary="{{description}}" st_title="{{title}}" displayText='Google+ Share'></span>
          </div>
          <div class="n-utils">
            <button id="search-toggle" style="display:none">X</button>
            <form role="search" class="pure-form searchform" value="" method="get" action="<% appUrl %>/search" name="searchform" >
              <input class="searchbox pure-input" name="searchbox" id="searchbox"  type="text" placeholder="Search for books..." value="" size="30" maxlength="300">
                <!-- <button type="submit" class="pure-button">Search</button> -->
            </form>
          </div>
        </header>
      </div>
    </div>
  </nav>
</div>