{{=<% %>=}}
<div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
  <a class="pure-menu-heading" href="<% appUrl %>/">Open Access Books</a>
  <ul>
    <li class="pure-menu-selected"><a href="<% appUrl %>/">Home</a></li>
    <li><a href="<% appUrl %>/about">About</a></li>
  </ul>
</div>