<!-- head -->
{{=<% %>=}}
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="//cloud.typography.com/7436432/628284/css/fonts.css" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:title" content="NYU Press : {{title}} by {{author}}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="<% appUrl %>/details/{{identifier}}" />
<meta property="og:image" content="<% readiumUrl %>/{{thumbHref}}" />
<meta property="og:description" content="{{description}}" />
<meta property="og:site_name" content="NYU Press : Open Access Books" />

<link rel="stylesheet" href="<% appUrl %>/css/bootstrap.css"> 
<link rel="stylesheet" href="<% appUrl %>/css/dlts.css">
<script src="http://yui.yahooapis.com/3.15.0/build/yui/yui-min.js"></script>
<script>
YUI().use('node', function(Y) {
    body = Y.one('body');

    function onSubmit(e) {
        e.preventDefault();

        var currentTarget = e.currentTarget,
            value = Y.one('.pure-input');
        location.href = currentTarget.get('action') + '/' + value.get('value');
    }

    var onClick = function(e) {
        e.preventDefault();

        var node = Y.one('.searchform'),
            nodeToggle = Y.one('#search-toggle'),
            nodeInput = Y.one('.searchbox'),
            isHidden = node.getStyle('display') == 'none';

        if (isHidden) {

            node.addClass('open');
            nodeToggle.addClass('open');
            nodeInput.focus();
        } else {
            node.removeClass('open');
            nodeToggle.removeClass('open');

        }
    };

    Y.one('#search-toggle').on('click', onClick);
    body.delegate('submit', onSubmit, 'form');
});
</script>
