{{=<% %>=}}
<div class="header">
  <nav class="navbar" role="navigation" id="navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
        <header> 
          <h2 id="logo-replace"><a href="<% appUrl %>" class="brand">NYU Press</a></h2>
            <h1 id="site-title"><a href="<% appUrl %>">Open Access Books</a></h1>
            <div class="n-utils"> <a href="<% appUrl %>/about" id="aboutlink">About</a> </div>
        </header>
      </div>
    </div>
  </nav>
</div>
