{{=<% %>=}}
<!doctype html>
<html>
<head>
  <title>NYU Press: <% title %></title>
  <%> head %>
  <script id="list-template" type="text/x-handlebars-template">
    {{#items}}
      <div class="pure-g library-item">
        <div class="pure-u">
          <div class="img_hold">
            <a href="<% appUrl %>/book/{{identifier}}"><img class="img-responsive" src="<% readiumUrl %>/{{coverHref}}" alt="" title="{{title}}"/></a>
          </div>
        </div>
        <div class="pure-u body">
          <h4><a href="<% appUrl %>/book/{{identifier}}">{{title}}</a></h4>
          <div>by {{author}}</div>
          <p>{{{slash}}}</p>
          <div class="caption buttons">
            <a class="pure-button" href="<% appUrl %>/book/{{identifier}}">Read</a>
            <a class="pure-button" href="<% appUrl %>/details/{{identifier}}">View Details</a>
          </div>
        </div>
      </div>
    {{/items}}
  </script>  
</head>
<body class="home search" data-app="<% appUrl %>" data-discovery="<% discovery %>">
  <div class="header"><%> header %></div>
  <div class="pure-g">
    <div class="pure-u-1 breadcrumb">
      <span class="page-title"><a href="<% appUrl %>/">Home</a> &gt; Search &gt; <span class="query"></span></span>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="pure-g data-container">
      <div class="pure-u-1">
        <h2>Browse titles</h2>
        <p class="found">We've found <span class="total-found">0</span> books results</p>
      </div>
      <div class="pure-g">
        <div id="a" class="pure-u-1 library-items"></div>
      </div>
    </div>
  </div>
  <ul class="pure-paginator"></ul>      
  <div class="pure-g container more-books">
    <div class="pure-u-1">
      <a href="#" class="pure-button loading">More books</a>
    </div>
  </div>
  <div class="pure-g container bottom">
    <div class="pure-u-1">
      <h2>Contact Us</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
      <h2>More Information</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
    </div>
  </div>  
  <div class="pure-g container footer"><%> footer %></div>
</div>
<%={{ }}=%><script>{{{js}}}</script>
</body>
</html>