{{=<% %>=}}
<!doctype html>
<html>
<head>
  <title>NYU Press Search: <% title %></title>
  <%> head %>
  <script id="list-template" type="text/x-handlebars-template">
      {{#items}}
      <div class="library-item">
        <div class="img_hold">
          <img class="img-responsive" src="<% readiumUrl %>/{{coverHref}}" alt="" title="{{title}}"/>
        </div>
        <div class="book-info">
          <h4><a class="item-link" href="../book/{{identifier}}">{{title}}</a></h4>
          <div class="author">by {{author}}</div>
          <div class="description">{{description}}</div>
          <div class="caption buttons">
            <a class="btn btn-default" href="<% appUrl %>/book/{{identifier}}">Read</a>
            <a class="btn btn-default" href="<% appUrl %>/details/{{identifier}}">View Details</a>
          </div>
       </div>
      </div>
    {{/items}}
  </script>  
</head>
<body class="list-view search" data-app="<% appUrl %>" data-discovery="<% discovery %>">
   <%> header %>

  <div class="breadcrumb">
    <span class="page-title"><a href="<% appUrl %>">Home</a> &gt; Search &gt; <span class="query"></span></span>
  </div>

  <div class="content-wrapper">
    <div class="data-container">

      <h2 class="page-title">Search Results</h2>

      <p class="found"><span class="total-found">0</span> <span class="items-found">books</span> found</p>
      <div class="pure-g">
          <div id="a" class="pure-u-1 library-items"></div>
      </div>
    </div>
  </div>

  <ul class="pure-paginator"></ul>    

 
 
   <%> footer %>

  <%={{ }}=%><script>{{{js}}}</script>
</body>
</html>