<div class="details-body">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <div class="offscreenText">Details Start</div>
    <div class="modal-cover-wrap">
        {{#data.coverHref}}
        <img class="details-cover-image img-responsive" src="{{ data.coverHref }}" alt="ePUB cover">{{/data.coverHref}} {{^data.coverHref}}
        <div class="no-cover">
            <p>{{data.title}}</p>
        </div>
        {{/data.coverHref}}

    </div>
    <div class='modal-book-info'>
        <h3 class='green modal-title'>{{ data.title }}</h3>
        <div class='modal-detail gap'>{{strings.i18n_author}}{{data.author}}</div>
        <div class='modal-detail'>{{strings.i18n_publisher}}{{data.publisher}}</div>
        <div class='modal-detail'>{{strings.i18n_pub_date}}{{data.pubdate}}</div>
        <div class='modal-detail'>Subject: N/A</div>
        <div class='modal-detail gap'>{{strings.i18n_id}}dd {{data.identifier}}</div>
        <div class='modal-detail'>Permanent Link: N/A</div>
       <!--  <div class='modal-detail'>Abstract: N/A</div> -->
        <div class='modal-detail'>{{strings.i18n_format}}{{data.format}}</div>
        <div class='modal-detail green'>Buy the book: <a href="http://nyupress.org/search.aspx?keyword={{data.id}}">http://nyupress.org/search.aspx?keyword={{data.id}}</a>
        </div>

       <!--  <div class='modal-detail read'><a href="simpleviewer.html?epub={{& data.thisHandleUrl}}" class="item-link">{{strings.i18n_read}}</a> -->
        </div>
    </div>

    <div class="offscreenText">Details End</div>
</div>