<div class="navbar-inner home">
    <div class="container" style="width: 100%">
        <header>
            <a href="/NYUPressOA/index.html" class="brand">
                <h2 id="logo-replace">NYU Press</h2>
            </a>
            <h1 id="site-title">
                Open Access Books
            </h1>
            <div class="n-utils">
               <a href="#">About this project</a>
                 
                   
                <!-- <form action="index.php" method="get" enctype="application/x-www-form-urlencoded" name="searchform" class="searchform">
                    <input class="searchbox" name="searchbox" type="text" placeholder="Search NYU OA books..." size="30" maxlength="300">

                </form> -->
        
               
            </div>
        </header>
    </div>
</div>