<div class="library-item">
    <div class="img_hold">
        {{#epub.coverHref}}
        <img class="img-responsive " src="/NYUPressOA/{{ epub.coverHref }}" alt="Open ePUB {{ epub.title }}">{{/epub.coverHref}} {{^epub.coverHref}}
        <div class="no-cover-nyup read" data-book="{{epub.packageUrl}}">
            <p>{{epub.title}}</p>
        </div>
        {{/epub.coverHref}}
    </div>
    <div class='caption book-info'>
        <a href="simpleviewer.html?epub={{& epub.packageUrl}}" class="item-link">
            <h4 class='title'>{{ epub.title }}</h4>
        </a>
        <div class='author'>{{ epub.author}}</span>{{^epub.author}}No Author Listed{{/epub.author}}</div>
        <!--  <div>{{strings.i18n_publisher}}{{data.publisher}}</div> -->
        <!--  <div class='pubdate'>Publication Date: {{ epub.pubdate}}{{^epub.pubdate}}No Publication Date Listed{{/epub.pubdate}}</div> -->
        <!--  <div>Epub version {{strings.i18n_epub_version}}{{data.epub_version}}</div>   -->
        <div class='description'>{{epub.description}}</div>
        <div class="caption buttons">
            <a class="btn btn-default" href="simpleviewer.html?epub={{& epub.packageUrl}}" class="item-link">Read</a>
            <a class="btn btn-default" href="index.html?detail={{& epub.packageUrl}}" class="item-link">View Details</a>
        </div>
    </div>
</div>